*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
.logo img{
    width: 150px;
    cursor: pointer;
}
.topbar{
    position: relative;
    background-color:blanchedalmond;
    max-width: 80rem;
    width: 100%;
    padding: 0 3rem;
    z-index: 10;
    border-bottom: 8px solid aqua;
    margin: 0 auto !important;
}
.topbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    color: black;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 700;
}
.navlinks ul{
    display: flex;
    list-style: none;
    align-items: center;
    font-weight: bold;
}
.navlinks a{
    color: darkblue;
    margin-left: 4.5rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}
.button{
    display: inline-block;
    padding: 0.9rem 1.9rem;
    color: white !important;
    background-color: rgb(83, 83, 243);
    border-radius: 15px;
    transition: ease 0.3s;
}
.navlinks a:hover{
    color: black;
    font-weight: bolder;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    max-width: 80rem;
    margin: 0 auto;
    background-color: blanchedalmond;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 80rem;
    margin: 0 auto;
    background-color: blanchedalmond;
    padding: 30px;
    top: 50px;
    border-top: 8px solid aqua;
   
}
.footer a{
    color: darkblue;
    text-decoration: none;
    list-style: none;
}
.footer ul{
    list-style: none;
}
.footer a:hover{
    color: black;
    font-weight: bold;
}
.footlogo{
    display: flex;
}
#btn{
    background-color: aqua;
    padding: 10px;
    border-color: aqua;
    font-size: 1.0rem;
    font-weight: bold;
    color: black;
}
#btn a{
    color: black;
    text-decoration: none;
}
#btn a:hover{
    color: white;
}
.sample{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.income{
    padding: 0%;
    background-color: blanchedalmond;
    max-width: 80rem;
    margin: 0 auto;
}
.output-per-shed{
    box-sizing: border-box;
    background-color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10%;
    padding-top: 0%;
}
.dailyrecord{
    display: flex;
    flex-direction: row;
    padding: 10%;
}
.income-over-time{
    display: flex;
    flex-direction: row;
    background-color: blanchedalmond;
    max-width: 80rem;
    margin: 0 auto;
    padding-bottom: 20%;
    align-items: center;
    justify-content: space-around;
}
#reset-results{
    color: black;
    background-color: aqua;
    font-size: 1rem;
    padding: 2%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
#submit-btn{
    color: black;
    background-color: aqua;
    font-size: 1rem;
    padding: 2%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
#btn{
    color: black;
    background-color: aqua;
    font-size: 1rem;
    padding: 2%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.produce{
    max-width: 80rem;
    margin: 0 auto;
    padding-bottom: 5%;
}
#farmname{
    margin: 0 auto;
    max-width: 80rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: wavy;
}
.income{
    background-image: url("assets/images/dairyfiel.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}